* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: white;
  font-family: "Outfit", sans-serif;
}

:root {
  --color-fondo: #8c8700da;
  --color-gradiente-fondo: rgb(58, 58, 58);
  --color-secundario: #005f8c;
  --color-gradiente-barra-nav: #004566;
  --bordes-botones: #8c0010;
  --bordes-info-paises: #c2bb01;
  --color-borde-input: rgba(255, 255, 255, 0.712);
  --color-sombra: rgba(59, 59, 59, 0.856);
  --color-gradiente-contenedor-info-paises: #b30217;
  --color-gradiente-contenedor-infor-paises-2: #006492;
  --color-sombra-input: rgba(0, 0, 0, 0.3);
  --color-borde-input: #c5031a;
}

/*Poner color a todos los inputs, botones, etc*/
.boton-inicio,
.buscador-paises,
#filtrar-paises,
.lista-paises {
  background-color: var(--bordes-botones);
}

/*Estilo del contenedor de toda la pagina*/
.contenedor {
  background-color: var(--color-fondo);
  background: linear-gradient(
    180deg,
    var(--color-fondo) 0%,
    var(--color-gradiente-fondo) 100%
  );
  width: 100%;
  height: auto;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

/*Estilos de la barra de navegacion*/
.barra-navegacion {
  width: 100%;
  background-color: var(--color-secundario);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(
    180deg,
    var(--color-gradiente-barra-nav) 0%,
    var(--color-secundario) 100%
  );
  box-shadow: 0 4px 15px var(--color-sombra-input);
  margin-bottom: 10px;
}
/*Estilos de la imagen y boton de la barra de navegacion*/
.boton-inicio {
  width: 125px;
  height: 125px;
  margin: 10px;
  border: none;
  background-image: url(./src/img/planet-earth-earth-day-or-environment-conservation-concept-png.webp);
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 50%;
}

/*Contenedor de la barra de busqueda y del filtrador*/
.contenedor-buscador-filtrado {
  width: 80%;
  height: auto;
  margin: 20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.contenedor-busqueda {
  width: auto;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
/*Estilos y animaciones de la barra de busqueda*/
.buscador-paises {
  width: 100%;
  min-width: 200px;
  max-width: 500px;
  height: auto;
  border: 2px solid transparent;
  border-radius: 20px;
  font-size: 1.5rem;
  padding: 5px;
  padding-left: 15px;
  margin: 10px;
  outline: none;
  box-shadow: 8px 8px 5px 0 var(--color-sombra);
  transition: border-color 0.3s ease;
}

/*Cambia el color del borde cuando le hagan clic*/
.buscador-paises:focus {
  border: 3px solid var(--color-borde-input);
}

.boton-busqueda {
  margin: -53px;
  margin-right: 10px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 3px solid var(--color-secundario);
  background-color: var(--bordes-botones);
  font-size: 1.2rem;
}
.boton-busqueda:hover {
  box-shadow: 2px 2px 10px 2px var(--color-sombra-input);
}
/*Estilo del select, para las distintas opciones*/
#filtrar-paises {
  font-size: 1rem;
  border-radius: 20px;
  text-align: center;
  padding: 5px;
  margin: 10px;
  box-shadow: 8px 8px 5px 0 var(--color-sombra);
  border: none;
}
/*Contenedor con todos los paises y su respectiva informacion*/
.lista-paises {
  width: 90%;
  margin: 10px;
  height: auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background: linear-gradient(
    to right,
    var(--bordes-botones),
    var(--color-gradiente-barra-nav)
  );
}

/*Contenedor de cada pais, donde viene la bandera y la informacion correspondiente*/
.contenedor-info-paises {
  width: 300px;
  height: 300px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border: 2px solid var(--bordes-info-paises);
}

/*Estilos de todas las banderas*/
.banderas {
  min-width: 200px;
  max-width: 600px;
  width: 40%;
  height: 40%;
  margin: 10px;
  padding: 5px;
  object-fit: cover;
}

/*Estilo de toda la informacion de los paises y 
Quitar las decoraciones del Li que muestra la informacion de los paises*/
.info-paises {
  list-style: none;
  width: auto;
  margin: 5px;
  padding: 2px;
}
